/* --------- TABLA DE HISTORIAL --------- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
  }
  th, td {
    padding: 0.8rem;
    border: 1px solid #ccc;
    text-align: left;
  }
  thead {
    background-color: #eeeeee;
  }
  tfoot {
    background-color: #f9f9f9;
    font-style: italic;
    text-align: center;
  }
